name: $(Rev:r)
jobs:
- job: IonideFsharp_Windows
  pool:
    vmImage: 'windows-2019'
  steps:
  - task: UseDotNet@2
    displayName: 'Use .NET Core Sdk from global.json'
    inputs:
      useGlobalJson: true

  - task: NodeTool@0
    displayName: Install Node
    inputs:
      versionSpec: "10.15.1"

  - task: geeklearningio.gl-vsts-tasks-yarn.yarn-installer-task.YarnInstaller@2
    displayName: Install Yarn
    inputs:
      versionSpec: "1.10.1"

  - script: dotnet tool restore
    displayName: Install Tools

  - script: dotnet paket restore
    displayName: Run paket restore

  - task: geeklearningio.gl-vsts-tasks-yarn.yarn-task.Yarn@3
    displayName: 'Install VSCE'
    inputs:
      arguments: global add vsce

  - task: UseDotNet@2
    displayName: 'Ensure .net core 2.0 runtime for "dotnet fable"'
    inputs:
      packageType: runtime
      version: 2.0.x

  - task: Npm@1
    displayName: Ensure 'vsce' tool is available
    inputs:
      command: custom
      customCommand: install -g vsce

  - script: dotnet fake build --target BuildPackage
    displayName: Build Package

  - task: PublishBuildArtifacts@1
    displayName: Publish Artifacts
    inputs:
      pathtoPublish: 'release'
      artifactName: 'ionide-fsharp-vscode-ext'

  - script: dotnet fake build -t Release
    displayName: Publish Extension to Marketplace
    condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
    env:
      nuget-key: $(nuget-key)
      github-user: Krzysztof-Cieslak
      github-pw: $(github-pw)
      vsce-token: $(vsce-token)

- job: IonideFsharp_MacOS
  pool:
    vmImage: 'macOS-10.14'
  steps:
  - task: UseDotNet@2
    displayName: 'Use .NET Core Sdk from global.json'
    inputs:
      useGlobalJson: true

  - task: NodeTool@0
    displayName: Install Node
    inputs:
      versionSpec: "10.15.1"

  - task: geeklearningio.gl-vsts-tasks-yarn.yarn-installer-task.YarnInstaller@2
    displayName: Install Yarn
    inputs:
      versionSpec: "1.10.1"

  - script: dotnet tool restore
    displayName: Install Tools

  - script: dotnet paket restore
    displayName: Run paket restore

  - task: geeklearningio.gl-vsts-tasks-yarn.yarn-task.Yarn@3
    displayName: 'Install VSCE'
    inputs:
      arguments: global add vsce

  - script: dotnet fake build --target BuildPackage
    displayName: Build Package

