source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0

nuget Fable.Core
nuget Fable.Promise
nuget Fable.Node
nuget Fable.Browser.Dom

nuget Fable.HtmlConverter

nuget Thoth.Json

git https://github.com/ionide/ionide-fsgrammar.git master

github ionide/ionide-vscode-helpers:cbebba1858cacad5eb13236d404a73d1093f75b5 src/Fable.Import.VSCode.fs
github ionide/ionide-vscode-helpers src/Helpers.fs
github ionide/ionide-vscode-helpers src/Fable.Import.Showdown.fs
github ionide/ionide-vscode-helpers src/Fable.Import.VSCode.LanguageServer.fs

group fsac
  source https://api.nuget.org/v3/index.json
  storage: packages
  framework: netstandard2.0
  nuget fsautocomplete

group build
  source https://api.nuget.org/v3/index.json
  storage: none
  framework: net6.0

  nuget Fake.Core.Target
  nuget Fake.Core.Process
  nuget Fake.Core.ReleaseNotes
  nuget Fake.Core.Environment
  nuget Fake.Core.UserInput
  nuget Fake.DotNet.Cli
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.DotNet.Paket
  nuget Fake.DotNet.MsBuild
  nuget Fake.IO.FileSystem
  nuget Fake.IO.Zip
  nuget Fake.Api.GitHub
  nuget Fake.Tools.Git
  nuget Fake.JavaScript.Yarn
  nuget Octokit <= 0.49.0