name: Build Pull Requests

on:
  push:
   branches:
     - '*'

jobs:
  build:

    strategy:
      matrix:
        # ubuntu build not supported in paket.dependencies for repo builds,
        # need to add linux commands first
        os: [windows-latest, macos-latest]
        dotnet: [5.0.100]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ matrix.dotnet }}
    - uses: actions/setup-node@v2-beta
      with:
        node-version: '10.15.1'
    - name: Restore tools
      run: dotnet tool restore
    - run: yarn global add vsce
    - name: Run Test
      run: dotnet fake build -t Build